* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: mistyrose;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    height: 40px;
    width: 120px;
    background-color: plum;
    border: none;
}

input {
    width: 200px;
    height: 30px;
    padding: 5px;
}

input::placeholder {

}