<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </header>
    <section>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum officiis ducimus cupiditate quisquam esse excepturi quae eos quod dolor deleniti, consectetur accusamus magnam in labore ad, sed incidunt soluta eum.</p>
    </section>
    
</body>
</html>