<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </header>
    <section class="search">
        <h1>Movies Viewer</h1>
        <form action="/movie" method="get">
        <input type="text" name="movie_title" placeholder="Type a movie title...">
        <button>search</button>
    </form>
    </section>
   
</body>
</html>