
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </header>
    <section class="search">
        <h1>Movies Viewer</h1>
        <form action="/movielist" method="get">
        <input type="text" name="movie_title" placeholder="Type a movie title...">
        <button>search</button>
    </form>
    </section>
