<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>
    <p>goodbye to yahoo finance</p>
    <a href="http://localhost:4567/?stock=msft">Back to stock price</a>
</body>
</html>