h1 {
  text-align: center;
}

.pass-input-box {
  width: 100vw;
  height: 50px;
  /* background-color: rgb(173, 76, 76); */
  background-color: darkgrey;
  font-size: 2em;
  text-align: center;
  /* border: none; */
}

.pass-strength {
  text-align: center;
  margin-top: 10px;
}

/* .green {
  background-color: limegreen;
} */